[mysqld]
server-id = 2
relay-log = mysql-relay-bin
# 確保重啟後自動恢復並略過安全錯誤
relay-log-info-repository = TABLE
master-info-repository = TABLE
skip-slave-start = 0

# 設定為唯讀，防止一般使用者在 Slave 寫入資料
read_only = 1
# super_read_only 會造成無法init mysql password
# super_read_only = 1
